.date {
    color: #BB1E77
}
article {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F6B3D9;
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    position: relative;
}
h1 {
    color: #BB1E77
}
#read-time {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: black;
    padding: 0;
}